<app-navbar></app-navbar>

<div class="container">
    <div class="row no-gutters">
      
        <div class="col-6 col-md-4">
          <hr>
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnGroupRadio" id="btnRadio1" autocomplete="off" checked="" (input)="Aplicarfiltro(hombre,mujer,modelo)" #hombre>
            <label class="btn btn-outline-primary" for="btnRadio1">Hombre</label>
          
            <input type="radio" class="btn-check" name="btnGroupRadio" id="btnRadio2" autocomplete="off" (input)="Aplicarfiltro(hombre,mujer,modelo)" #mujer>
            <label class="btn btn-outline-primary" for="btnRadio2">Mujer</label>
          </div>
          <hr>
          <label class="m-1" for="">Modelo:</label>
          <select class="custom-select" (input)="Aplicarfiltro(hombre,mujer,modelo)" #modelo>
            <option selected>Open this select menu</option>
            <option *ngFor="let m of getModels()" value="{{m}}">{{m}}</option>
          </select>
          <hr>
        </div>
        <div class="col-12 col-sm-6 col-md-8">
          <div *ngIf="articles.length == 0; else notfoud" class="row row-cols-1 row-cols-sm-2 g-3">
              <div *ngFor="let a of articles" class="col">
                <div class="card">
                  <div>
                    <div id="carouselWithControls" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="{{firstImage(a.id)}}" class="d-block w-100" alt="Slide 1">
                        </div>
                        <div *ngFor="let m of mediasId" class="carousel-item">
                          <img src="{{m.source}}" class="d-block w-100" alt="Slide 2">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body m-0">
                    <div class="d-flex justify-content-between m-1">
                      <h5 class="card-title">{{a.model}}</h5>
                      <input type="color" class="form-control form-control-color" id="colorInput" value="{{a.color}}" title="Choose your color" disabled>
                    </div>
                    <div class="d-flex justify-content-between m-1">
                      <p class="card-text">{{a.description}}</p>
                      <p class="">{{a.size}}</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      
    </div>
  </div>

  <ng-template #notfoud>
    <h1>No se han encontrado resultados</h1>
  </ng-template>
  