
.card{
  max-width: 400px;
}

.foto {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.foto img {
  transition: transform 0.3s ease;
}

.foto:hover img {
  transform: scale(1.1);
}

.logo {
  position: absolute;
  height: 100px;
  top: 15px; /* Ajusta la posición vertical según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.foto-container {
  position: relative;
}

@media (max-width: 768px) {
  .logo {
      top: 10px;
  }
}

