<div class="d-flex flex-column align-items-center position-relative w-100">
    <!-- Contenedor para el logo -->
    <div class="">
      <img class="logo" src="https://i.imgur.com/OIN6Uaq.png" alt="Logo">
    </div>
    <!-- Contenedor de las tarjetas -->
    <div class="row row-cols-1 row-cols-sm-2 g-3 justify-content-center mt-5">
      <div class="col d-flex justify-content-center">
      <button (click)="mujer()" class="border-0 p-0">
        <div class="card foto bg-dark text-dark border-0 ">
          <img src="https://i.imgur.com/TDn4XNg.png" class="card-img" alt="card-img-overlay">
          <div class="card-img-overlay d-flex justify-content-start align-items-start">
            <h5 class="card-title">MUJER</h5>
          </div>
        </div>
      </button>
      </div>
      <div class="col d-flex justify-content-center">
        <button (click)="hombre()" class="border-0 p-0">
          <div class="card foto bg-dark border-0 foto">
            <img src="https://i.imgur.com/SlOjK0N.png" class="card-img" alt="card-img-overlay">
            <div class="card-img-overlay d-flex justify-content-end align-items-start">
              <h5 class="card-title text-light">HOMBRE</h5>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>