<div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="card w-75">
      <div class="card-body">
        <div class="text-center mb-4">
          <h2>Crear Artículo</h2>
        </div>
        <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="inputmodel" class="form-label">Modelo</label>
            <input type="text" class="form-control" id="inputmodel" formControlName="model">
            <div *ngIf="articleForm.controls['model']?.invalid && articleForm.controls['model']?.touched" class="text-danger">
              <small *ngIf="articleForm.controls['model']?.errors?.['required']">model es requerido</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="inputdescription" class="form-label">Descripción</label>
            <textarea class="form-control" id="inputdescription" formControlName="description"></textarea>
            <div *ngIf="articleForm.controls['description']?.invalid && articleForm.controls['description']?.touched" class="text-danger">
              <small *ngIf="articleForm.controls['description']?.errors?.['required']">Descripción es requerida</small>
              <small *ngIf="articleForm.controls['description']?.errors?.['maxlength']">Descripción no puede exceder los 255 caracteres</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="inputColor" class="form-label">Color</label>
            <input type="color" class="form-control" id="inputColor" formControlName="color" value="#000000">
            <div *ngIf="articleForm.controls['color']?.invalid && articleForm.controls['color']?.touched" class="text-danger">
              <small *ngIf="articleForm.controls['color']?.errors?.['required']">Color es requerido</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="inputsize" class="form-label">Talla</label>
            <input type="text" class="form-control" id="inputsize" formControlName="size">
            <div *ngIf="articleForm.controls['size']?.invalid && articleForm.controls['size']?.touched" class="text-danger">
              <small *ngIf="articleForm.controls['size']?.errors?.['required']">size es requerida</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="inputstock" class="form-label">Existencias</label>
            <input type="number" class="form-control" id="inputstock" formControlName="stock">
            <div *ngIf="articleForm.controls['stock']?.invalid && articleForm.controls['stock']?.touched" class="text-danger">
              <small *ngIf="articleForm.controls['stock']?.errors?.['required']">stock es requerida</small>
              <small *ngIf="articleForm.controls['stock']?.errors?.['min']">stock no puede ser negativa</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="inputFotos" class="form-label">Fotos</label>
            <input type="file" class="form-control" id="inputFotos" accept="image/*" multiple>
            <!-- Puedes usar "multiple" para permitir la selección de múltiples archivos -->
          </div>
          <div class="d-flex justify-content-between">
            <button type="reset" class="btn btn-secondary">Resetear</button>
            <button type="submit" class="btn btn-primary" [disabled]="articleForm.invalid">Crear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  